---
- name: Configure device credentials on Cisco Catalyst Center
  hosts: localhost
  connection: local
  gather_facts: false  # This space must be "no". It was set to false due to formatting errors.but the correct value is "no".
  vars_files:
    - "credentials.yml"
  tasks:
    - name: Provision a wired device to a site
      cisco.dnac.wireless_design_workflow_manager:
        dnac_host: "{{ dnac_host }}"
        dnac_username: "{{ dnac_username }}"
        dnac_password: "{{ dnac_password }}"
        dnac_verify: "{{ dnac_verify }}"
        dnac_port: "{{ dnac_port }}"
        dnac_version: "{{ dnac_version }}"
        dnac_debug: "{{ dnac_debug }}"
        dnac_log: true
        dnac_log_level: DEBUG
        config_verify: true
        dnac_api_task_timeout: 1000
        dnac_task_poll_interval: 1
        state: deleted
        # state: merged
        config:
          - feature_template_config:
              - rrm_general_configuration:
                  - design_name: "rrm_general_6ghz_high_thr_1"
                    feature_attributes:
                      # radio_band: "6GHZ"
                      # monitoring_channels: "MONITORING_CHANNELS_ALL"
                      # neighbor_discover_type: "NEIGHBOR_DISCOVER_TYPE_PROTECTED"
                      # throughput_threshold: 2500000
                      coverage_hole_detection: true
                    unlocked_attributes:
                      - "throughput_threshold"